/* Style rules shamelessly stolen from http://bettermotherfuckingwebsite.com/ */

body {
	margin:      40px auto;
	max-width:   650px;
	line-height: 1.6;
	font-size:   18px;
	color:       #444;
	padding:     0 10px;
}

h1, h2, h3 {
	line-height: 1.2;
}

/* And other styles added by me */

pre {
	background:    #444;
    border-radius: 3px;
    color:         white;
    display:       inline;
    padding:       5px;
}